In [1]:
#importing libraries
import pandas as pd
import matplotlib.pyplot as plt
import seaborn as sns
import warnings
from datetime import datetime, timedelta
warnings.filterwarnings('ignore')

In [2]:
# Load Dataset
df = pd.read_csv("C:/Users/ullas/Documents/MSc Data Analytics Capstone Project/Datasets/Passenger Journeys by Public Transport.csv")

In [3]:
# Preview
df.head()

,STATISTIC,Statistic Label,TLIST(A1),Year,C03935V04687,Mode of Transport,C01198V01436,Weeks of the year,UNIT,VALUE
0,THA24C01,Passenger Journeys,2019,2019,10,Dublin Metro Bus,1,Week 01,Number,1987891.0
1,THA24C01,Passenger Journeys,2019,2019,10,Dublin Metro Bus,2,Week 02,Number,2709579.0
2,THA24C01,Passenger Journeys,2019,2019,10,Dublin Metro Bus,3,Week 03,Number,2784678.0
3,THA24C01,Passenger Journeys,2019,2019,10,Dublin Metro Bus,4,Week 04,Number,2858346.0
4,THA24C01,Passenger Journeys,2019,2019,10,Dublin Metro Bus,5,Week 05,Number,2924821.0

In [4]:
# Basic Statistics
print("Basic Statistics:")
print(df.describe())

Basic Statistics:
         TLIST(A1)         Year  C03935V04687  C01198V01436         VALUE
count  1060.000000  1060.000000   1060.000000   1060.000000  8.680000e+02
mean   2021.000000  2021.000000     25.000000     27.000000  1.665662e+06
std       1.414881     1.414881     11.185617     15.304279  1.367626e+06
min    2019.000000  2019.000000     10.000000      1.000000  2.323100e+04
25%    2020.000000  2020.000000     17.500000     14.000000  5.799855e+05
50%    2021.000000  2021.000000     25.000000     27.000000  9.101360e+05
75%    2022.000000  2022.000000     32.500000     40.000000  2.875604e+06
max    2023.000000  2023.000000     40.000000     53.000000  5.075079e+06

In [5]:
data = {
    'Year': [2019, 2020, 2021, 2022, 2023],
    'Week': ['Week 01', 'Week 02', 'Week 03', 'Week 04', 'Week 53']
}

data = {
    'Year': [2019, 2020, 2021, 2022, 2023],
    'Week': ['Week 01','Week 02','Week 03','Week 04','Week 05','Week 06','Week 07','Week 08','Week 09','Week 10','Week 11','Week 12','Week 13','Week 14','Week 15','Week 16','Week 17','Week 18','Week 19','Week 20','Week 21','Week 22','Week 23','Week 24','Week 25','Week 26','Week 27','Week 28','Week 29','Week 30','Week 31','Week 32','Week 33','Week 34','Week 35','Week 36','Week 37','Week 38','Week 39','Week 40','Week 41','Week 42','Week 43','Week 44','Week 45','Week 46','Week 47','Week 48','Week 49','Week 50','Week 51','Week 52','Week 53']
}

In [6]:
df = pd.DataFrame(data)

In [7]:
def convert_to_date(year, week):
    week_number = int(week.split()[1])

In [9]:
date = datetime.strptime(f'{year}-W{week_number:02d}-1','%Y-W%V-%w')

NameError: name 'year' is not defined